body {
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    font-size: 4rem;
    margin: 0;
}

header {
    background: url(img/image.jpg);
    background-attachment: fixed;
    background-size: cover;
    widows: 100%;
    height: 100vh;
}

.title {
    line-height: 100vh;
    text-align: center;
    color: #fff;
}

.intro {
    height: 100vh;
    margin: auto;
    padding: 0px 200px;
    text-align: center;
    font-size: 1.5rem;
    
}

.intro-text p {
    line-height: 1.5;
}

.intro-text {
    padding: 100px 0;
    opacity: 0;
    transform: translateY(120px);
    transition: 4s all ease-out;
}

.intro-appear {
    opacity: 1;
    transform: translateY(0px);
}

